aws_region           = "us-east-1"
cluster_name         = "canary-rosa-prod"
rosa_version         = "4.15.16"
machine_cidr         = "10.80.0.0/16"
private_subnet_cidrs = ["10.80.1.0/24", "10.80.2.0/24", "10.80.3.0/24"]
public_subnet_cidrs  = ["10.80.101.0/24", "10.80.102.0/24", "10.80.103.0/24"]
availability_zones   = ["us-east-1a", "us-east-1b", "us-east-1c"]
compute_machine_type = "m5.2xlarge"
compute_nodes        = 6
hosted_cp            = true
create_account_roles = false
create_oidc_config   = false

tags = {
  environment = "prod"
  owner       = "platform-team"
}
